
.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    min-height: 100vh;
}
.left_block {
    display: flex;
    flex:1;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    opacity: 0.5;
}
.logo_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 16vw;
    height: 5vw;
    background-image: url(./img/rosh_logo1.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.left_nav {
    font-size: 0.8rem;
    margin-top: 2vw;
    flex-wrap: wrap;
    text-align: center;

}
.o_roshen {
   font-size: 2vw;
   margin-top: 2vw;
   font-weight: bolder;
}
.logo_down {
    width: 16vw;
    height: 5vw;
    background-image: url(./img/rosh_logo1.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.right_block {
    display: flex;
    flex:5;
    margin-left: 3vw;
    margin-right: 3vw;
    flex-direction: column;   
}
header {
    display: flex;
    flex-direction: row;
}
.right_nav {

}
ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.right_nav>ul>li {
    display: flex;
    list-style-type: none;
    margin-right: 2.95vw;
    font-size: 0.85rem;
    font-weight: bolder;
}
.right_nav>ul>li:hover {
    opacity: 0.5;
}
.lng {
    
    display: flex;
    align-items: center;
}
.lang:hover {
    opacity: 0.5;
    cursor: pointer;
}
.lang {
    width: 56px;
    border:0px;
    font-size: 0.85rem;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;  
    border: none;
}
.elips {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:  #D1D1D1;
}

.info {
    margin-top: 3vw;
}
.fon_photo {
    display: flex;
    background-color: #D1D1D1;
    height: 45vh; 
    justify-content: center;
}
.fon_photo:hover {
    opacity: 0.8;
    cursor: pointer;
}
.photo {
    width: 10vw;
    background-image: url(./img/kartina_priplili.png);
    background-repeat: no-repeat;
    background-size:100%;
    margin-top: 2vw;
}
.text {
    margin-top: 3vw;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 2vw;
}
p {
    margin-bottom: 2vw; 
}

.footer {
    display: flex;
    font-size: 0.9rem;
    font-weight: bolder;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.tel {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.tel:nth-last-child() {
    justify-content: flex-end;
}
.media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.facebook {
    width: 27px;
    height: 27px;
    background-image: url(./img/facebook-logo\ копия@1X.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.vk {
    width: 27px;
    height: 27px;
    background-image: url(./img/vk-social-logotype\ \(1\)\ копия@1X.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



